<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<h1><span>New Task</span></h1>
<h1>
    <a class="link" href="/">Home</a>
    <a class="link" href="listTasks">List Tasks</a>
    <a class="link" href="deleteTask">Delete Task</a>
    <a class="link" href="deleteCompleted">Delete All Completed</a>
    <a class="link" href="updateStatus">Update Task Status</a>
    <a class="link" href="newDeveloper">Add New Developer</a>
    <a class="link" href="listDevelopers">List All Developers</a>
    
    <form method="POST" action="/newTask" class="">
        <span>Task Name</span> <input type="text" name="taskName" /><br>
        <span>Assign To</span>
            <select name="assignTo" id="">
                <% for (var i = 0; i < db.length; i++) { %>
                    <option value=<%= db[i]._id %>><%= db[i]._id %></option>
                <% }%>
            </select><br>
        <span>Task Due</span> <input type="date" name="taskDue" /> <br>
        <span>Task Status</span>
            <select name="taskStatus" id="">
                <option value="inProgress">In Progress</option>
                <option value="complete">Complete</option>
            </select>
        <br>
        <span>Task Desc</span> <input type="text" name="taskDesc" /> <br>
        <br>
        <button>
            Submit
        </button>
    </form>
</h1>

</html>